@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    h1{
        @apply text-2xl font-bold
    }
}

@layer base {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

@layer utilities {
    .container{
        @apply max-w-[1440px] m-auto flex
    }
}